<!DOCTYPE HTML>
<html>
	<head>
		<title>OSP_Final</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for ('static', filename = 'css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href={{url_for('home')}}>TF-IDF 기반 유사도 분석 시스템</a>
				<nav>
					<a href="#menu">메뉴</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href={{url_for('home')}}>홈으로</a></li>
					<li><a href={{url_for('getURL')}}>URL 입력</a></li>
					<li><a href={{url_for('getFILE')}}>파일 업로드</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>TF-IDF 기반 유사도 분석 시스템</h1>
					<p></p>
				</div>
				<!--<video autoplay loop muted playsinline src="{{ url_for ('static', filename = 'images/banner.mp4') }}" 
				type = "video/mp4">
				</video>-->
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>수행할 작업을 선택하세요</h2>
						<p>URL입력, 파일 업로드, Cosine 유사도 분석 등이 가능합니다.</p>
					</header>
					<div class="highlights">	
						<section>
							<div class="content">
								<header>
									<a href={{url_for('getURL')}} class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>URL 입력</h3>
								</header>
								<p>하나의 URL을 입력합니다.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href={{url_for('getFILE')}} class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>파일 업로드</h3>
								</header>
								<p>URL이 명시된 텍스트 파일을 업로드 합니다.</p>
							</div>
						</section>
						
					</div>
					
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>경북대학교 IT대학 컴퓨터학부</h2>
					<p></p>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>2020학년도 1학기 오픈소스 프로그래밍 팀 프로젝트</h3>
							<p>2019115900 박상헌<br />
							2019113099 장유진</p>
						</section>
						
						<section>
							<h4>사이트 맵</h4>
							<ul class="plain">
								<li><a href="https://www.youtube.com/channel/UCboYjEZtDixhOlbmNyJQJDQ"><i class="icon fa-youtube">&nbsp;</i>컴퓨터학부 유튜브</a></li>
								<li><a href="https://www.facebook.com/CSEatKNU/"><i class="icon fa-facebook">&nbsp;</i>컴퓨터학부 페이스북</a></li>
								<li><a href="https://www.instagram.com/knu_cse_2020/"><i class="icon fa-instagram">&nbsp;</i>컴퓨터학부 인스타그램</a></li>
								<li><a href="https://github.com/hun340312/OSP_Final"><i class="icon fa-github">&nbsp;</i>깃허브</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; 이 사이트의 저작권은 경북대학교 컴퓨터학부에 있습니다.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for ('static', filename = 'js/jquery.min.js') }}"></script>
			<script src="{{ url_for ('static', filename = 'js/browser.min.js') }}"></script>
			<script src="{{ url_for ('static', filename = 'js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for ('static', filename = 'js/util.js') }}"></script>
			<script src="{{ url_for ('static', filename = 'js/main.js') }}"></script>

	</body>
</html>
