<html>
    
<head>
    <title>Document</title>
	<style>
        table {
            width: 100%;
            border-top: 1px solid #444444;
            border-collapse: collapse;
        }
        th, td {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #EDC6C6;
        }
        td {
            background-color: #FFEAEA;
        }
   </style>
</head>

<body>
    <div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>URL</th>
													<th>Word Count</th>
													<th>Processing Time</th>
													<th>Word Analysis</th>
													<th>Similarity Analysis</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{word1}}</td>
													<td>{{value1}}</td>
													
												</tr>
												<tr>
													<td>{{word2}}</td>
													<td>{{value2}}</td>
													
												</tr>
												<tr>
													<td>{{word3}}</td>
													<td>{{value3}}</td>
													
												</tr>
												<tr>
													<td>{{word4}}</td>
													<td>{{value4}}</td>
													
												</tr>
												<tr>
													<td>{{word5}}</td>
													<td>{{value5}}</td>
													
												</tr>
												<tr>
													<td>{{word6}}</td>
													<td>{{value6}}</td>
													
												</tr>
												<tr>
													<td>{{word7}}</td>
													<td>{{value7}}</td>
													
												</tr>
												<tr>
													<td>{{word8}}</td>
													<td>{{value8}}</td>
													
												</tr>
												<tr>
													<td>{{word9}}</td>
													<td>{{value9}}</td>
													
												</tr>
												<tr>
													<td>{{word10}}</td>
													<td>{{value10}}</td>
													
												</tr>

											</tbody>
										</table>
									</div>
</body>

</html>
