<html>
    
<head>
    <title>Cosine Similarity</title>
	<style>
        table {
            width: 100%;
            border-top: 1px solid #444444;
            border-collapse: collapse;
        }
        th, td {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #EDC6C6;
        }
        td {
            background-color: #FFEAEA;
        }
   </style>
</head>

<body>
    <div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>URL</th>
													<th>Cosine Similarity</th>
													
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{cosUrl1}}</td>
													<td>{{similarity1}}</td>
													
												</tr>
												<tr>
													<td>{{cosUrl2}}</td>
													<td>{{similarity2}}</td>
													
												</tr>
												<tr>
													<td>{{cosUrl3}}</td>
													<td>{{similarity3}}</td>
													
												</tr>
												
										</table>
									</div>
</body>

</html>
