
<!DOCTYPE HTML>

<html>
	<head>
		<title>OSP_Final</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for ('static', filename = 'css/main.css') }}" />
	</head>

	<script language="javascript">
		function showPopup() { window.open({{url_for('pop1')}}, "a", "width=400, height=300, left=500, top=200"); }
		function fileread()
	{
        var file = document.getElementById("file").files[0];
        var reader = new FileReader();
        reader.readAsText(file, "utf-8");
	var url = document.URL_FILE;

 	reader.onload=function(){
            var view=document.getElementById("content");
            view.textContent = reader.result;
	    url.URLs.value = reader.result;
        };
        reader.onerror = function(event){
            switch(event.target.error.code){
                case error.NOT_FOUND_ERR:
                    alert("읽을 파일을 찾지 못하였습니다..");break;
                case error.SECURITY_ERR:
                    alert("보안상 안전하지 않습니다..");break;
                case error.ABORT_ERR:
                    alert("읽기가 중지되었습니다."); break;
                case error.NOT_READABLE_ERR:
                    alert("읽기 권한이 없습니다."); break;
                case error.ENCODING_ERR:
                    alert("파일 용량이 상한을 초과하였습니다."); break;
 
            }
       
        };
	
	

	
     }
	</script>

	<style>
        table {
            width: 100%;
            border-top: 1px solid #444444;
            border-collapse: collapse;
        }
        th, td {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #EDC6C6;
        }
        td {
            background-color: #FFEAEA;
        }
        #btn1 {
            border-radius: 10px;
            border: 3px solid #DBB4B4;
            background-color: white;
            color: black;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
			}
        #btn2 {
            border-radius: 10px;
            border: 3px solid #DBB4B4;
            background-color: lemonchiffon;
            color: black;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
        }
        #btn1:hover{color:white; background-color: black;}
        #btn2:hover{color:white; background-color: black;}
       
    </style>


	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href={{url_for('home')}}>TF-IDF 기반 유사도 분석 시스템</a>
				<nav>
					<a href="#menu">메뉴</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href={{url_for('home')}}>홈으로</a></li>
					<li><a href={{url_for('getURL')}}>URL 입력</a></li>
					<li><a href={{url_for('getFILE')}}>파일 업로드</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>파일 분석</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">
							

								<!-- Text -->
									<h2>WebPage Analysis Service</h2>
        							<form name="URL FILE" 
										action={{url_for('printFILE')}} 
										method="post">
										<div class="filebox"> 
										<label for="textfile">
										Upload a File including some URL
										</label>
										<input type="file" id="file"><br><br><br>
									<input type="button" onclick="fileread()" value="파일 분석">

										</div>
<table id="table"></table>
    <textarea id="content" readonly style="width:600px; height:500px;"></textarea>
										<input type='hidden' name='URLs'>
            							<input type='submit' value='Enter'>
									
									</form><br></br></br>
								
								
									
									
								<!-- Table -->
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>URL</th>
													<th>Word Count</th>
													<th>Processing Time</th>
													<th>Word Analysis</th>
													<th>Similarity Analysis</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{url1}}</td>
													<td>{{count1}}</td>
													<td>{{time1}}</td>
													<td><form name="WA"
										action={{url_for('pop1')}}
										method="post">
									<input type='hidden' id = 'URL'  name='URL' value={{url1}}>
										
            							<input type='submit' id="btn1" value='Word&nbsp;Analysis'>
									</form></td>
													<td><input type="button" id="btn2" value="Similarity Analysis" name="SA" onclick="showPopup();"></td>
												</tr>
												<tr>
													<td>{{url2}}</td>
													<td>{{count2}}</td>
													<td>{{time2}}</td>
													<td><form name="WA"
										action={{url_for('pop1')}}
										method="post">
									<input type='hidden' id = 'URL'  name='URL' value={{url2}}>
										
            							<input type='submit' id="btn1" value='Word&nbsp;Analysis'>
									</form></td>
													<td><input type="button" id="btn2" value="Similarity Analysis" name="SA" onclick="showPopup();"></td>
												</tr>
												<tr>
													<td>{{url3}}</td>
													<td>{{count3}}</td>
													<td>{{time3}}</td>
													<td><form name="WA"
										action={{url_for('pop1')}}
										method="post">
									<input type='hidden' id = 'URL'  name='URL' value={{url3}}>
										
            							<input type='submit' id="btn1" value='Word&nbsp;Analysis'>
									</form></td>
													<td><input type="button" id="btn2" value="Similarity Analysis" name="SA" onclick="showPopup();"></td>
												</tr>
												<tr>
													<td>{{url4}}</td>
													<td>{{count4}}</td>
													<td>{{time4}}</td>
													<td><form name="WA"
										action={{url_for('pop1')}}
										method="post">
									<input type='hidden' id = 'URL'  name='URL' value={{url4}}>
										
            							<input type='submit' id="btn1" value='Word&nbsp;Analysis'>
									</form></td>
													<td><input type="button" id="btn2" value="Similarity Analysis" name="SA" onclick="showPopup();"></td>
												</tr>
												<tr>
													<td>{{url5}}</td>
													<td>{{count5}}</td>
													<td>{{time5}}</td>
													<td><form name="WA"
										action={{url_for('pop1')}}
										method="post">
									<input type='hidden' id = 'URL'  name='URL' value={{url5}}>
										
            							<input type='submit' id="btn1" value='Word&nbsp;Analysis'>
									</form></td>
													<td><input type="button" id="btn2" value="Similarity Analysis" name="SA" onclick="showPopup();"></td>
												</tr>
												<tr>
													<td>{{url6}}</td>
													<td>{{count6}}</td>
													<td>{{time6}}</td>
													<td><form name="WA"
										action={{url_for('pop1')}}
										method="post">
									<input type='hidden' id = 'URL'  name='URL' value={{url6}}>
										
            							<input type='submit' id="btn1" value='Word&nbsp;Analysis'>
									</form></td>
													<td><input type="button" id="btn2" value="Similarity Analysis" name="SA" onclick="showPopup();"></td>
												</tr>
												<tr>
													<td>{{url7}}</td>
													<td>{{count7}}</td>
													<td>{{time7}}</td>
													<td><form name="WA"
										action={{url_for('pop1')}}
										method="post">
									<input type='hidden' id = 'URL'  name='URL' value={{url7}}>
										
            							<input type='submit' id="btn1" value='Word&nbsp;Analysis'>
									</form></td>
													<td><input type="button" id="btn2" value="Similarity Analysis" name="SA" onclick="showPopup();"></td>
												</tr>
												<tr>
													<td>{{url8}}</td>
													<td>{{count8}}</td>
													<td>{{time8}}</td>
													<td><form name="WA"
										action={{url_for('pop1')}}
										method="post">
									<input type='hidden' id = 'URL'  name='URL' value={{url8}}>
										
            							<input type='submit' id="btn1" value='Word&nbsp;Analysis'>
									</form></td>
													<td><input type="button" id="btn2" value="Similarity Analysis" name="SA" onclick="showPopup();"></td>
												</tr>
												<tr>
													<td>{{url9}}</td>
													<td>{{count9}}</td>
													<td>{{time9}}</td>
													<td><form name="WA"
										action={{url_for('pop1')}}
										method="post">
									<input type='hidden' id = 'URL'  name='URL' value={{url9}}>
										
            							<input type='submit' id="btn1" value='Word&nbsp;Analysis'>
									</form></td>
													<td><input type="button" id="btn2" value="Similarity Analysis" name="SA" onclick="showPopup();"></td>
												</tr>
												<tr>
													<td>{{url10}}</td>
													<td>{{count10}}</td>
													<td>{{time10}}</td>
													<td><form name="WA"
										action={{url_for('pop1')}}
										method="post">
									<input type='hidden' id = 'URL'  name='URL' value={{url10}}>
										
            							<input type='submit' id="btn1" value='Word&nbsp;Analysis'>
									</form></td>
													<td><input type="button" id="btn2" value="Similarity Analysis" name="SA" onclick="showPopup();"></td>
												</tr>

											</tbody>
										</table>
									</div>
									
							
							
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>2020학년도 1학기 오픈소스 프로그래밍 팀 프로젝트</h3>
							<p>2019115900 박상헌<br />
							2019113099 장유진</p>
						</section>
						
						<section>
							<h4>사이트 맵</h4>
							<ul class="plain">
								<li><a href="https://www.youtube.com/channel/UCboYjEZtDixhOlbmNyJQJDQ"><i class="icon fa-youtube">&nbsp;</i>컴퓨터학부 유튜브</a></li>
								<li><a href="https://www.facebook.com/CSEatKNU/"><i class="icon fa-facebook">&nbsp;</i>컴퓨터학부 페이스북</a></li>
								<li><a href="https://www.instagram.com/knu_cse_2020/"><i class="icon fa-instagram">&nbsp;</i>컴퓨터학부 인스타그램</a></li>
								<li><a href="https://github.com/hun340312/OSP_Final"><i class="icon fa-github">&nbsp;</i>깃허브</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; 이 사이트의 저작권은 경북대학교 컴퓨터학부에 있습니다.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for ('static', filename = 'js/jquery.min.js') }}"></script>
			<script src="{{ url_for ('static', filename = 'js/browser.min.js') }}"></script>
			<script src="{{ url_for ('static', filename = 'js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for ('static', filename = 'js/util.js') }}"></script>
			<script src="{{ url_for ('static', filename = 'js/main.js') }}"></script>

	</body>
</html>
