<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Industrious by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">TF-IDF기반 유사도 분석</a>
				<nav>
					<a href="#menu">메뉴</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">홈으로</a></li>
					<li><a href="getURL.html">URL입력</a></li>
					<li><a href="getFILE.html">파일 업로드</a></li>
					<li><a href="cosineAnal.html">유사도 분석</a></li>
					<li><a href="wordAnal.html">단어 분석</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>단어 분석</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">
							<div class="col-6 col-12-medium">

								
								
									<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Alpha</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>10.00</td>
												</tr>
												<tr>
													<td>Beta</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>20.00</td>
												</tr>
												<tr>
													<td>Gamma</td>
													<td>Morbi faucibus arcu accumsan lorem.</td>
													<td>30.00</td>
												</tr>
												<tr>
													<td>Delta</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>40.00</td>
												</tr>
												<tr>
													<td>Epsilon</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>50.00</td>
												</tr>
												<tr>
													<td>Zeta</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>60.00</td>
												</tr>
												<tr>
													<td>Eta</td>
													<td>Morbi faucibus arcu accumsan lorem.</td>
													<td>70.00</td>
												</tr>
												<tr>
													<td>Theta</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>80.00</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>360.00</td>
												</tr>
											</tfoot>
										</table>
									</div>

							</div>
							<div class="col-6 col-12-medium">

								<!-- Buttons -->
									<h3>Buttons</h3>
									<ul class="actions">
										<li><a href="#" class="button primary">Primary</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button primary large">Large</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button small">Small</a></li>
										<li><a href="#" class="button wide">Wide</a></li>
									</ul>
									<ul class="actions fit">
										<li><a href="#" class="button primary fit">Fit</a></li>
										<li><a href="#" class="button fit">Fit</a></li>
									</ul>
									<ul class="actions fit">
										<li><a href="#" class="button primary fit small">Fit + Small</a></li>
										<li><a href="#" class="button fit small">Fit + Small</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button primary icon fa-search">Icon</a></li>
										<li><a href="#" class="button icon fa-download">Icon</a></li>
									</ul>
									<ul class="actions">
										<li><span class="button primary disabled">Primary</span></li>
										<li><span class="button disabled">Default</span></li>
									</ul>


								<!-- Image -->
									<h3>Image</h3>
									<h4>Fit</h4>
									<span class="image fit"><img src="images/pic01.png" alt="" /></span>
									<div class="box alt">
										<div class="row gtr-50 gtr-uniform">
											<div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
											<div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
											<div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
											<!-- Break -->
											<div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
											<div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
											<div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
											<!-- Break -->
											<div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
											<div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
											<div class="col-4"><span class="image fit"><img src="images/pic01.png" alt="" /></span></div>
										</div>
									</div>
									

								<!-- Box -->
									<h3>Box</h3>
									<div class="box">
										<p>Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu
										felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
										praesent tincidunt felis sagittis eget. tempus euismod. Magna sed etiam ante ipsum
										primis in faucibus vestibulum. Blandit adipiscing eu ipsum primis in faucibus
										vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
										faucibus lorem ipsum dolor sit amet nullam.</p>
									</div>

								<!-- Preformatted Code -->
									<h3>Preformatted</h3>
									<pre><code>i = 0;

	while (!deck.isInOrder()) {
	    print 'Iteration ' + i;
	    deck.shuffle();
	    i++;
	}

	print 'It took ' + i + ' iterations to sort the deck.';
	</code></pre>

							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>2020학년도 1학기 오픈소스 프로그래밍 팀 프로젝트</h3>
							<p>2019115900 박상헌<br />
							2019113099 장유진</p>
						</section>
						
						<section>
							<h4>사이트 맵</h4>
							<ul class="plain">
								
								<li><a href="https://www.facebook.com/CSEatKNU/"><i class="icon fa-facebook">&nbsp;</i>컴퓨터학부 페이스북</a></li>
								<li><a href="https://www.instagram.com/knu_cse_2020/"><i class="icon fa-instagram">&nbsp;</i>컴퓨터학부 인스타그램</a></li>
								<li><a href="https://github.com/hun340312/OSP_Final"><i class="icon fa-github">&nbsp;</i>깃허브</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; 이 사이트의 저작권은 경북대학교 컴퓨터 학부에 있습니다.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
